
.fondo {

    background-image: url("imagenes/fondo.png");
    background-image: url(https://st2.depositphotos.com/3268541/6058/v/950/depositphotos_60585611-stock-illustration-vintage-styled-barber-shop-seamless.jpg)

}

.logo{
margin: 4vw;
}

.titulo {

    color: blueviolet;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-size: 2em;
    font-family: 'Mochiy Pop One', sans-serif;  
}

.fotoprincipal {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border: solid;
    display:inline-flex ;
    width: 96%;
}

.lado2 {
        width:65%;
        background-color: lightgray;
        display: inline-block;
        overflow: auto;
        padding: 1vw 1vw 1vw 1vw;
        margin: 2vw 2vw 2vw 0vw ;
        border: solid ;
        vertical-align:top;

        
    }

.historia {
            color: chocolate;
            margin: 5px 5px 5px 5px;
            padding: 5px 5px 5px 5px;
            font-family: 'Edu VIC WA NT Beginner', cursive;
            font-size: 125%;
}

.turno {
    justify-content: center;
    color: rgb(5, 5, 5) ;
    background-color: rgb(42, 31, 105);
    font-family: 'Josefin Sans';
    font-size: 2em;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 2vw 2vw 2vw  ;
    
}

.contacto {
    justify-content: center;
    color: rgb(5, 5, 5) ;
    background-color: rgba(141, 27, 78, 0.767);
    font-family: 'Josefin Sans';
    font-size: 2em;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 2vw 2vw 2vw  ;
    
}



.card {
    width:26%;
    background-color: lightgray;
    display: inline-block;
    overflow: auto;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 1vw 2vw 1vw ;
    border: solid ;
    vertical-align:top;
    }


    .cardprincipal {
        width:26%;
        background-color: lightgray;
        display: inline-block;
        overflow: auto;
        padding: 1vw 1vw 1vw 1vw;
        margin: 2vw 1vw 2vw 1vw ;
        border: solid ;
        vertical-align:top;
        
    }

.card__precio{
    width:100%; 
    height: 100%;
    font-size: 2vh;
    vertical-align:bottom;
    font-size: 1.5vh
}

.card__precio-description{
font-size: 2vh;

}

.card__galery{ 
    width:250px; 
    height: 340px;
    margin: 1vh;
    border-style: solid  double;
    border-width: 4px;
    border-color: darkblue;
    font-size: 1.5vh
}

.galeria {
    display: flex;
    flex-flow:wrap;
    flex-direction: row;
    justify-content: center;

}

.boton{
    color: rgb(3, 3, 3);
    background-color: #eef300;
    border-color: #ddfe04;
    border-radius: 10px;
}

.footer {
    color: white;
    line-height: 2;
    text-align: center;
    margin: 0.5vw 1vh ;
    padding: 0.2vw 0.2vw;
    vertical-align:bottom;
    font-size: 1.5vh
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    text-align:center
}

